# Ambienti virtuali
venv/
.venv/
env/

# Cache di Python
__pycache__/
*.pyc

# Segreti e configurazioni locali
.env

# Dati del Database (se mappati localmente)
pgdata/

# File di sistema
.DS_Store
Thumbs.db